@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --tooltip-bg: #fff;
    --tooltip-border: #e5e7eb;
    --tooltip-color: #111;
}

.dark {
    --tooltip-bg: #1a1a1a;
    --tooltip-border: #333;
    --tooltip-color: #fff;
}